body {
    text-align: center;
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 45px;
}

.scores {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.game-pad {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    gap: 20px;
}

.pad {
    height: 200px;
    width: 200px;
    outline: none;
    cursor: pointer;
}

.start {
    margin-top: 20px;
}

#green {
    border-top-left-radius: 200px;
}

.green {
    background-color: rgb(17, 155, 17);
}

.blink-green {
    background-color: rgb(221, 255, 221);
}


#red {
    border-top-right-radius: 200px;
}

.red {
    background-color: rgb(255, 23, 23);
}

.blink-red {
    background-color: rgb(248, 205, 205);
}

#blue {
    border-bottom-right-radius: 200px;
}

.blue {
    background-color: rgb(59, 121, 255);
}


.blink-blue {
    background-color: rgb(211, 225, 255);
}

#yellow {
    border-bottom-left-radius: 200px;
}

.yellow {
    background-color: rgb(255, 255, 31); 
}


.blink-yellow {
    background-color: rgb(255, 255, 206); 
}

.input {
    font-family: 'Balsamiq Sans', cursive;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}
.input:focus {
    outline: none;
}
.round {
    transition: 0.3s ease;
    border: none;
    border-radius: 30px;
}
.roundA {
    background-color: rgb(147, 170, 170);
    box-shadow: inset 0 0 30px gray;
}
.roundA:hover {
    box-shadow: inset 0 0 10px gray;
    color: rgb(0, 0, 0);
    background-color: rgb(223, 245, 248);
}
